{
  "presets": ["react", "react-native", "es2015", "stage-1"],
  "plugins": ["transform-decorators-legacy", "transform-class-properties"],
  "env": {
    "development": {
      "plugins": [
        [
          "react-css-modules",
          {
            "context": "./",
            "webpackHotModuleReloading": true,
            "generateScopedName": "[local]___[hash:base64:5]",
            "filetypes": {
              ".scss": {
                "syntax": "postcss-scss",
                "plugins": ["postcss-nested"]
              }
            },
            "exclude": "/node_modules/"
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "react-remove-properties",
        [
          "react-css-modules",
          {
            "context": "./",
            "generateScopedName": "[local]___[hash:base64:5]",
            "filetypes": {
              ".scss": {
                "syntax": "postcss-scss",
                "plugins": ["postcss-nested"]
              }
            },
            "exclude": "/node_modules/"
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        [
          "react-css-modules",
          {
            "context": "./",
            "generateScopedName": "[local]",
            "filetypes": {
              ".scss": {
                "syntax": "postcss-scss",
                "plugins": ["postcss-nested"]
              }
            },
            "exclude": "/node_modules/"
          }
        ]
      ]
    }
  }
}
